#links img,footer img, li img, h1 img, h2 img, h3 img, p img, .dropme img {
    height: 1em;
}

main {
	margin: auto ;
	color: #ddd ;
	background: #02121e ;/*rgba(0,0,0,.5) ;*/
	padding: 20px ;
	border-radius: 50px ;
}

footer {
	clear: both;
    background-color: #FFFFFF;
	text-align: center;
	padding-top: 2em;
}

body {
	max-width: 1000px;
	margin: auto;
	padding: lem;
	background-color: #0f141e;
	color: #FFFFFF;
    font: normal 16px Garamond; 
    line-height: 1.8em;
}

.section {
    margin-bottom:3%;
    margin-left:5%;
    margin-right:5%;
    min-height: 350px;
	padding: 2%;
	background-color: #161819;
	background: #161819;
	border-style: solid;
	border-color: #000000;
	box-shadow: 10px 15px #000000;
}

.left {
    float: left;
	min-height: 300px;
    background-color: #161819;
    margin: 1%;
}

.right {
    float: right;
	min-height: 300px;
    background-color: #161819;
    margin: 1%;
}

.center {
    text-align: center;
}

.left p {
    clear: left;
    text-align: justify;
}

.right p {
    clear: right;
    text-align: justify;
}

.right img  {
background-color: #161819;
max-width: 400px;
max-height: 225px;
border: 2px solid black;
}

.left img {
background-color: #161819;
max-width: 400px;
max-height: 225px;
border: 2px solid black;
}

.center img {
    margin-bottom:-8%; 
}
.left span {
    border: 3px solid black;
}

.right span {
    border: 3px solid black;
}

.row {
    display: flex;
    justify-content: center;
    margin-left: -50px;
}

.column {
    align-items: center;
    display: flex;
    width: 75px;
    margin-left: 30px;
    padding-top: 10%;
}

.caption {
    padding:5px;
    text-align:center;
    font-size: 10px;
}


img {
}

img:hover {
    border-color: #6c42f7;
}

a {
    color:#bad5f4;
    text-decoration: none;
}
a:hover {
    color:#6c42f7;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
    	text-shadow: -1px 3px 3px rgba(0, 0, 0, 0.68);
}

h1{
	color:#ededed;
	font-weight: Bold;
}
h2 {
	color: #ededed;
	text-align: left;
}

h3{
	color:red;
}

.menubar li a {
    display: block;
}

.menubar {
    display: inline-block;
    margin: 0;
    padding: 0;
    zoom:1;
    padding: 30px;
}

nav {
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    text-align: center;
}


.menubar li {
	display: block;
	float: left;
	width: 100px;
    min-height: 1.5em;
    background: #222;
    border: #444 solid 2px;
    padding: 3px;
    margin: 4px;
}

.menubar li:hover {
    background: #000;
}

.menubar a {
    text-decoration: none;
}

.menubar li ul {
	visibility: hidden;
	position: absolute;
    padding-top: 10px;
}

.menubar li:hover ul {
	visibility: visible;
    padding-left: 0;
    margin-left: -7px;
}

.menubar li ul li {
    float: none;
    position: relative;
    width: 150px;
    text-align: left;
}

.resmid {
	display: block ;
	margin: auto ;
	max-width: 90% ;
	max-height: 300px ;
}
